*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/app/release/
/app/debug/
/app/google-services.json
*.apk
*.aab
*.hprof
.navigation/
output.json
/app/src/androidTest
/app/src/test
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
